
  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400;500;600;700&family=Montserrat:wght@100;300;400;500;600;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&family=Sen:wght@400;500;600&display=swap');



*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #CDF5FD;
}

.card{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid #00A9FF;
    background-color: #A0E9FF;
    height: 40%;
    width: 35%;
    border-radius: 20px;
}

input{
    height: 50px;
    width: 500px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 500;
    padding: 5px 20px;
}
.row{
    margin-top: 30px;
    gap: 40px;
    display: flex;
    align-items: center;
}
h1{
    font-size: 100px;
    color: #0ba3ee;
}

img{
    height: 150px;
}
h2{
    font-size: 40px;
    font-weight: 700;
}
h3{
    font-size: 25px;
    font-weight: 700;
}
h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
button{
    height: 50px;
    border-radius: 20px;
    background-color: #0ba3ee;
    border: none;
    outline: none;
    padding: 2px 10px;
    color: antiquewhite;
    font-size: 25px;
    margin-left: 20px;
}

@media (max-width: 480px) {
    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: #CDF5FD;
    }
    
    .card{
        text-align: center;
        border: 3px solid #00A9FF;
        background-color: #A0E9FF;
        height: 50%;
        width: 80%;
        border-radius: 20px;
    }
    
    input{
        height: 30px;
        width: 60%;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 500;
        padding: 5px 20px;
    }
    .row{
        height: 70%;
        width: 100%;
        margin-top: 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-size: 50px;
        color: #0ba3ee;
    }
    
    img{
        height: 100px;
    }
    h2{
        font-size: 30px;
        font-weight: 700;
    }
    h3{
        font-size: 15px;
        font-weight: 700;
    }
    h4{
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    button{
        height: 30px;
        border-radius: 20px;
        background-color: #0ba3ee;
        border: none;
        outline: none;
        padding: 2px 10px;
        color: antiquewhite;
    }
}