*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
   background-color: #F5EEE6; 
   color: #d593a3;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 40px;
    margin: 30px;
}
.input-box input {
    width: 30vh;
    font-weight: 700;
    height: 35px;
    color: #222;
    padding: 0px 5px;
    font-size: 15px;
    letter-spacing: 1px;
}
.input-box input::placeholder {
    color: #fff5f7;
}
.input-box button {
    background-color: rgb(28, 28, 28);
    width: 100px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #bd7a8b;
}
.generate{
    background-color: #222;
    height: 50px;
    width: 10vh;
    margin: 5vh;
    border-radius: 10px;
}

@media only screen and (max-device-width: 480px) {
    h1{
        font-size: 30px;
        text-align: center;
        margin: 30px;
    }
    .input-box input {
        width: 30vh;
        font-weight: 700;
        height: 35px;
        color: #222;
        padding: 0px 5px;
        font-size: 15px;
        letter-spacing: 1px;
    }
    .input-box input::placeholder {
        color: #222;
    }
    .input-box button {
        background-color: rgb(28, 28, 28);
        width: 100px;
        height: 38px;
        border-radius: 5px;
        border: 1px solid #bd7a8b;
    }
    .generate{
        background-color: #222;
        height: 40px;
        width: 10vh;
        margin: 5vh;
        border-radius: 10px;
    }
    
}